.NewAccount
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_container
{   
    width: 90%;
    display: flex;
    flex-direction: column;
}


.new_account_input
{
    height: 5vw;
    font-size: 4vw;
    outline: none;
    border-radius: 0.5rem;
    font-family: Verdana;
    margin: 10px;
}

.ok_btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: blue;
    cursor: pointer;
    background-color: lightgray;
    transition: 1s;
    padding: 5px;
}

.ok_btn:hover
{
    background-color: orange;
    color: white;
    transition: 1s;
}

.AuthNav
{
    display: flex;
    justify-content: space-between;
}

.auth_nav
{
    text-decoration: none;
}

.auth_nav_div
{
    font-size: 4vw;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}

.auth_nav>.auth_nav_div
{
    color: black;
    background-color: white;
}

.active_auth_nav>.auth_nav_div
{
    color: white;
    background-color: black;
}